<!DOCTYPE html>

<head>
    <title>select doctors</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script> <script src="maincontroller.js" type="text/javascript"></script>

</head>

<body>
    <div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>
        <select ng-model='selectedDoctor' ng-options='obj.doctor_name for obj in doctors'></select>
        <select ng-model="selectedSpecialty" ng-options="obj.name for obj in selectedDoctor.specialest_name.specialties">
            <option ng-repeat="specialties in selectedDoctor.specialest_name.specialties">{{specialties}}</option>
        </select>
        <div>{{selectedSpecialty}}</div>

        
    </div>
</body>

</html>